on: [push]

jobs:
  html-minifier:
    runs-on: ubuntu-latest
    name: HTMLMinifier
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v4
      - name: HTMLMinifier
        uses: ./ # Uses an action in the root directory
        id: html-minifier
        with:
          rootDir: "samples"
          verbose: true
          flags: "removeAttributeQuotes"
      # Use the output from the `hello` step
      - name: Get the minfied files from output
        run: echo "The files minfied are ${{ steps.html-minifier.outputs.minifiedFiles }}"
